pkgbase = collabora-office
	pkgdesc = Collabora Office Desktop - Enterprise-grade office suite built natively from source
	pkgver = 24.04.17.3
	pkgrel = 1
	url = https://www.collaboraoffice.com/
	install = collabora-office.install
	arch = x86_64
	license = MPL-2.0
	license = LGPL-3.0-or-later
	makedepends = git
	makedepends = gcc
	makedepends = clang
	makedepends = ccache
	makedepends = perl-archive-zip
	makedepends = zip
	makedepends = unzip
	makedepends = gperf
	makedepends = gtk3
	makedepends = qt6-base
	makedepends = boost
	makedepends = mdds
	makedepends = glm
	makedepends = box2d
	makedepends = cppunit
	makedepends = beanshell
	makedepends = ant
	makedepends = java-environment=17
	makedepends = coin-or-mp
	makedepends = doxygen
	makedepends = wget
	makedepends = abseil-cpp
	makedepends = gobject-introspection
	makedepends = python-setuptools
	makedepends = libffi
	makedepends = sane
	makedepends = unixodbc
	makedepends = gst-plugins-base-libs
	depends = curl>=7.20.0
	depends = hunspell>=1.2.8
	depends = python
	depends = libwpd>=0.9.2
	depends = libwps
	depends = libwpg
	depends = neon>=0.28.6
	depends = pango
	depends = nspr
	depends = libjpeg-turbo
	depends = libxrandr
	depends = libgl
	depends = redland
	depends = hyphen
	depends = lpsolve
	depends = gcc-libs
	depends = libgcc
	depends = sh
	depends = graphite
	depends = icu
	depends = libxslt
	depends = lcms2
	depends = poppler
	depends = libvisio
	depends = libetonyek
	depends = libodfgen
	depends = libcdr
	depends = libmspub
	depends = harfbuzz-icu
	depends = nss
	depends = clucene
	depends = hicolor-icon-theme
	depends = libpagemaker
	depends = libxinerama
	depends = libabw
	depends = libmwaw
	depends = libe-book
	depends = libcups
	depends = liblangtag
	depends = libexttextcat
	depends = liborcus
	depends = libwebp
	depends = libcmis
	depends = libtommath
	depends = libzmf
	depends = libatomic_ops
	depends = xmlsec
	depends = libnumbertext
	depends = gpgmepp
	depends = libfreehand
	depends = libstaroffice
	depends = libepubgen
	depends = libqxp
	depends = libepoxy
	depends = zxing-cpp
	depends = xdg-utils
	depends = fontconfig
	depends = zlib
	depends = libpng
	depends = freetype2
	depends = cairo
	depends = libx11
	depends = expat
	depends = glib2
	depends = boost-libs
	depends = libtiff
	depends = dbus
	depends = glibc
	depends = librevenge
	depends = libxext
	depends = openjpeg2
	depends = argon2
	depends = md4c
	depends = libxml2
	depends = libmythes
	optdepends = gtk3: Native GTK3 desktop interface (GNOME/XFCE)
	optdepends = qt6-base: Native Qt6 desktop interface (KDE Plasma)
	optdepends = ttf-liberation: Standard Liberation font family
	optdepends = ttf-dejavu: Standard DejaVu font family
	optdepends = ttf-carlito: Carlito font family (Calibri alternative)
	optdepends = hunspell-id: Indonesian spellchecker dictionary
	optdepends = hyphen-id: Indonesian hyphenation rules
	provides = libreoffice
	provides = collabora-office
	conflicts = libreoffice-fresh
	conflicts = libreoffice-still
	options = !lto
	options = ccache
	source = core::git+https://github.com/LibreOffice/core.git#branch=distro/collabora/co-24.04
	source = collaboraoffice.sh
	source = collaboraoffice.csh
	source = soffice-template.desktop.in
	sha256sums = SKIP
	sha256sums = 28483e1bba275917af0bd70777fc58228be1a99b62d443b884543e165ac63bf2
	sha256sums = 95351055f45d9fbadc262133b162730c4944a08ada66f2fae62139f731ac4912
	sha256sums = 1c2a65704deb69c0a1ebf142776cc7edcddfea36867fbbd086c35e2a62aaf921

pkgname = collabora-office
